<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bridges</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard2.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <div id="chat-container">
      
      <div id="search-container">
        <input type="text" placeholder="Search"/>
      </div>
     
      <div id="conversation-list">

      </div>
  
      
      <div id="new-msg-container">
        <a class='logout' href="/user/logout">Logout<img src='/logout.png'></a>
      </div>
      
      <div id="chat-title">
        <span></span>
        <select name="Language Select" id="language-select">
          <option value="" selected="selected">Select Language</option>
        </select>
      
        
      </div>
      <div id="chat-message-list">
      </div>

      <div id="chat-form">
        <input type="text" placeholder="Type a message"/>
        <button><img src="https://cdn.glitch.com/7ba8a16f-3425-484a-8d14-343cd0867e48%2Fdirect.png?v=1605673373920"></button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/user.js'></script>
    <script src='/js/translations.js'></script>
  </body>
</html>
