<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <title>Welcome to Bridges</title>
</head>
<body class='dashboard'>
    <div class='nav'>
        <img class= "logo" src="/bridgesLogo.png" alt="">
        <a href=''>Profile</a>
        <a href=''>Groups</a>
        <a href=''>Languages</a>
        <a href=''>Logout</a>
    </div>
    <div class='contacts'></div>
    <div class='chat'></div>
</body>
</html>