<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/custom-style.css">
    <link rel="stylesheet" type="text/css" href="/fake-browser.css">
    <!-- import the bootstrap -->
  </head>
 
  
  <body id = "body" class = "container-fluid">
     <div class ="logo-container">
       <div class ="text-center">
         <a class="logo" id="logo" href="">
           <img class= "logo" src="/bridgesLogo.png" height="100" alt="">
          </a>
         
       </div>
    </div>

    <div class='browser-container'>
        <div class='fake-browser'>
            <div class='browser-header'>
                <span>
                    <em></em>
                    <em></em>
                    <em></em>
                </span>
                <span>
                    https://www.bridges-translator.com/E9D2SZ
                </span>
            </div>
            <div class='browser-content'>
                <div>
                    <div>
                            <div class='fake-msg-left'>
                                <div>
                                    <span><i class="fas fa-portrait"></i></span>
                                </div>
                                
                                <span>
                                    Lately I've been practicing my Japanese. Do you think that I'm doing well?
                                    <p>日本語の翻訳: "最近は日本語の練習をしています。私は元気だと思いますか？" </p>
                                </span>
                            </div>
                            <div class='fake-msg-right'>
                                <div>
                                    <span><i class="fas fa-portrait"></i></span>
                                </div>
                                
                                <span>
                                    日本語がとても上手ですよ！今はコンビニを行きたいか？
                                    <p>英語の翻訳: "You are very skilled at Japanese! Do you want to go to the Conveinience store today?" </p>
                                </span>
                            </div>
                            <div class='fake-msg-left'>
                                <div>
                                    <span><i class="fas fa-portrait"></i></span>
                                </div>
                                
                                <span>
                                    Sure Lets go!
                                    <p>日本語の翻訳："行きましょう！"</p>
                                </span>
                            </div>
                    </div>
                    <div>
                        <span>...</span>
                        <span>
                            <i class="fa fa-paper-plane"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class='browser-pitch'>
            <h1>Bridges Translator helps you communicate with people of a different language.</h1>
            <div>
                <button>Learn More</button>
                <button>Login</button>
                <button>Sign Up</button>
            </div>
        </div>
    </div>

  </body>
</html>

                
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                      
  
                                           
 


