<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/custom-style.css">
    <title>Sign Up</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
 
  
  <body id = "body" class = "container-fluid">
     <div class ="account-pages my-5 pt-sm-5">
       <div class ="text-center mb-4">
         <a class="logo mb-5 d-block" id="logo" href="">
           <img class= "logo" src="/bridgesLogo.png" height="75" alt="">
          </a>
         <div class="container">
           <div class="row">
             <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
               <div class="card card-signin my-5">
                 <div class="card-body">
                   
                   <h5 class="card-title text-center">Register</h5>
                   <form class="form-signin" action="/auth/register_login" method="post">
                     
                     <div class="form-label-group">
                       <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
                     </div>
                     
                     <div class="form-label-group">
                       <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                     </div>
                     
                     <div class="form-label-group">
                       <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                     </div>
                     <div class="form-label-group">
                      <input type="select" id="locale" name="locale" class="form-control" placeholder="locale" required value='en_US'>
                    </div>
                     
                     <button id = "submitbtn" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
                     
                     <hr class="my-4">
                     <div class="mt-5 text-center">
                       <p>Already have an account?<a href="login"> Login now</a> </p>
                       <p>© 2020 Bridges Chat Translator</p>
                     </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='/js/auth.js'></script>
  </body>
</html>

                
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                      
  
                                           
 


