body{
    font-family: 'Open Sans', sans-serif;
    animation: 1s ease-in 0s 1 fade-in;
}
.browser-container {
    width: 75%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

    .fake-browser {
        width: 750px;
        background-color: #e6e6e6;
        margin-top: 20px;
        box-shadow: 1px 1px 5px black;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }
        .fake-browser .browser-header {
            display: flex;
            padding: 6px;
        }

        .fake-browser .browser-header > span:first-of-type {
            flex: 0 1 80px;
            text-align: center;
        }
            .fake-browser .browser-header > span:first-of-type em {
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 40px;
                margin: 10px 6px 0 0;
                opacity: .7;
            }
            .fake-browser .browser-header > span em:nth-of-type(1) {
                background-color: #ff3f46; 
            }
            .fake-browser .browser-header > span em:nth-of-type(2) {
                background-color: #ffda47;
            }
            .fake-browser .browser-header > span em:nth-of-type(3)  {
                background-color: #90ff5c;
            }
        .fake-browser .browser-header > span:last-of-type {
            flex: 0 1 calc(100% - 80px);
            font-size: 14px;
            font-weight: 400;
            color: #0D0D0D;
            background-color: #FAFAFA;
            border-radius: 3px;
            height: 32px;
            line-height: 32px;
            padding-left: 10px;
            text-align: left;
        }
        .fake-browser .browser-content {
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 1px;
            background-color: #FAFAFA;
            color: #0D0D0D;
            text-align: left;
            border-top: solid 1px #7269ef;
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
        }
            .fake-browser .browser-content > div > div:first-of-type {
                height: 600px;
                background-color: #FFF;
                overflow: hidden;
            }
                .fake-browser .browser-content .fake-msg-left {
                    padding-top: 20px;
                    margin-left: 10px;
                    width: 400px;
                    display: flex;
                    justify-content: flex-start;
                }
                    .fake-browser .browser-content .fake-msg-left > div {
                        display: flex;
                        flex-direction: column-reverse;
                    }
                        .fake-browser .browser-content .fake-msg-left > div > span:first-of-type {
                            font-size: 25px;
                            border-radius: 50px;
                            padding: 10px;
                            text-align: center;
                            background-color: #e6e6e6;
                            margin: 5px;
                            width: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    .fake-browser .browser-content .fake-msg-left > span:last-of-type {
                        color: #0D0D0D;
                        padding: 20px;
                        border-radius: 10px;
                        background-color: #e6e6e6;

                    }
                        .fake-browser .browser-content .fake-msg-left > span:last-of-type > p {
                            color: #0D0D0D;
                            font-size: 12px;
                            background-color: #b1b1b1;
                            border-radius: 10px;
                            margin-top: 10px;
                            padding: 5px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    


                .fake-browser .browser-content .fake-msg-right {
                    padding-top: 20px;
                    margin-right: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row-reverse;
                }
                    .fake-browser .browser-content .fake-msg-right > div {
                        display: flex;
                        flex-direction: column-reverse;
                    }
                        .fake-browser .browser-content .fake-msg-right > div > span:first-of-type {
                            font-size: 25px;
                            border-radius: 60px;
                            padding: 10px;
                            text-align: center;
                            background-color: #e6e6e6;
                            margin: 5px;
                            width: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    .fake-browser .browser-content .fake-msg-right > span:last-of-type {
                        color: #FAFAFA;
                        padding: 20px;
                        border-radius: 10px;
                        background-color: #7269ef;
                        width: 400px;
                    }
                        .fake-browser .browser-content .fake-msg-right > span:last-of-type > p {
                            color: #FAFAFA;
                            font-size: 12px;
                            background-color: #5e53fa;
                            border-radius: 10px;
                            margin-top: 10px;
                            padding: 5px;
                            font-family: Arial, Helvetica, sans-serif;
                        }



            .fake-browser .browser-content > div > div:last-of-type {
                border-top: 1px solid #7269ef;
                display: flex;
                align-items: center;
                height: 40px;
            }
                .fake-browser .browser-content > div > div:last-of-type > span:first-of-type{
                    flex: 0 1 calc(100% - 60px);
                    font-size: 14px;
                    font-weight: 400;
                    color: #0D0D0D;
                    background-color:#f1f1f1;
                    border-radius: 5px;
                    height: 32px;
                    line-height: 32px;
                    padding-left: 10px;
                    margin-left: 10px;
                    text-align: left;
                    border: 1px solid #000;
                }
                .fake-browser .browser-content > div > div:last-of-type > span:last-of-type{
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FAFAFA;
                    background-color:#7269ef;
                    border-radius: 10px;
                    height: 32px;
                    line-height: 32px;
                    width: 10%;
                    margin-right: 10px;
                    margin-left: 10px;
                    text-align: left;
                    border: 1px solid black;
                }

    .browser-pitch {
        width: 40%;
        position: relative;
    }
        .browser-pitch h1 {
            font-size: 2.2em;
        }
        .browser-pitch > div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
        }
            .browser-pitch > div > button {
                margin-top: 10px;
                border: 2px solid #7269ef;
                background-color: #e6ebf5;
                color: #7269ef;
                border-radius: 10px;
                font-weight: 600;
                padding: 10px;
                width: 150px;
            }
            .browser-pitch > div > button:hover {
                background-color: #7269ef;
                color: #FAFAFA;
            }

.browser-content > div > div > div:nth-of-type(1) {
    position: relative;
    animation: .2s linear 4s 1 fade-in, .2s linear 4s 1 slide-message-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.browser-content > div > div > div:nth-of-type(2) {
    position: relative;
    animation: .2s linear 7s 1 fade-in, .2s linear 7s 1 slide-message-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.browser-content > div > div > div:nth-of-type(3) {
    position: relative;
    animation: .2s linear 10s 1 fade-in, .2s linear 10s 1 slide-message-in;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes float-browser {
   from {
       top: -20px;
       transform: translateZ(0) rotateZ(360deg);
       perspective: 1000;
       backface-visibility: hidden;
   }
   to {
       top: 0px;
       transform: translateZ(0) rotateZ(360deg);
       perspective: 1000;
       backface-visibility: hidden;
   }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes slide-message-in {
    from {
        top: 200px
    }
    to {
        top: 0px;
    }
}